[Unit]
Description=
After=network.target

[Service]
Type=simple
ExecStart=/home/yuichi/backup_app/test/backup_app/backup_app 1
Environment="DISPLAY=:0" "XAUTHORITY=/home/yuichi/.Xauthority"

[Install]
WantedBy=multi-user.target

